@import "./code.scss";

body {
  margin: 0;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 2em;
}

h3 {
  font-size: 1.3em;
}

p {
  line-height: 1.7;
}

.utterances {
  max-width: 100%;
}

.light-mode {
  --color-background: white;
  --color-text: #424242;
}

.dark-mode {
  --color-background: #282c35;
  --color-text: white;
}
